.temperamentlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.temperamentlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.temperamentlist ul li {
    background-color: #5d6763;
    border: 1px solid #eae9f1;
    color: white;
    border-radius: 9px;
    display: inline-block;
    font-size: 15px;
    margin: 0 7px 7px 0;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}