.pagination-container {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0; /* Ajuste para mayor visibilidad */
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Ajusta según sea necesario */
    height: 30px; /* Ajusta según sea necesario */
    border-radius: 50%;
   /* Añadido borde para mejorar la visibilidad */
    cursor: pointer;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
  }
  
  .page-item.active .page-link {
    background-color: #8f9390;
    color: #fff;
  }
  
  .page-link:hover,
  .page-link:focus {
    background-color: #2d2d2e;
    color: #fff;
  }
  
  /* Media Query para pantallas más pequeñas */
  @media (max-width: 600px) {
    .pagination-container {
      flex-wrap: wrap;
    }
  
    .page-item {
      margin: 5px 0;
    }
  }
  