.page-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.page-header nav {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-header .toggle-mob-menu {
    display: none;
}